@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #002270;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-120vh) rotate(360deg);
  }
}

.animate-float {
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
